<div class="container">
  <div class="container-shop">
    <app-card-shop class="item shop-item"></app-card-shop>
    <app-card-shop class="item shop-item"></app-card-shop>
    <app-card-shop class="item shop-item"></app-card-shop>
    <app-card-shop class="item shop-item"></app-card-shop>
    <app-card-shop class="item shop-item"></app-card-shop>
    <app-card-shop class="item shop-item"></app-card-shop>
    <app-card-shop class="item shop-item"></app-card-shop>
  </div>
  <div class="container-cart">
    <div class="cart-card">
      <app-card-cart class="item cart-item"></app-card-cart>
      <app-card-cart class="item cart-item"></app-card-cart>
      <app-card-cart class="item cart-item"></app-card-cart>
    </div>
    <h1 class="cart-text">Total: $1,600</h1>
    <div class="cart-btn-group">
      <button class="cart-btn">Finish</button>
      <button class="cart-btn">Reset</button>
    </div>
  </div>
</div>
