<div class="container">
  <div class="container-shop">
    <app-card-shop
      class="item shop-item"
      *ngFor="let itemShop of shopSvc.getDataItems$() | async"
      (btnAddToCart)="onAddCart(itemShop)"
    >
      <div tittle>{{ itemShop.tittle }}</div>
      <div price>{{ itemShop.price | currency }}</div>
      <div stock>{{ itemShop.stock }} units</div>
    </app-card-shop>
  </div>
  <div class="container-cart">
    <div class="cart-card">
      <app-card-cart
        class="item cart-item"
        *ngFor="let itemCart of shopSvc.getCartItems$() | async"
        (click)="sumToCart(itemCart.id)"
      >
        <div tittlee>{{ itemCart.tittle }}</div>
        <div price>{{ itemCart.price | currency }}</div>
        <div units>{{ itemCart.units }}</div>
        <div subtotal>Subtotal: {{ itemCart.subtotal | currency }}</div>
      </app-card-cart>
    </div>
    <h1 class="cart-text">
      Total: {{ shopSvc.getCartTotal$() | async | currency }}
    </h1>
    <div class="cart-btn-group">
      <button class="cart-btn">Finish</button>
      <button class="cart-btn">Reset</button>
    </div>
  </div>
</div>
